WinXNA/WinXNA/bin/
TestResults/
WinXNA/WinXNA/obj/
ShantenHelper/ShantenHelper/bin/
Archive/
WinXNA/WinXNAContent/obj/
Console/bin/
ShantenHelper/ShantenHelperContent/obj/
Tests/obj/
Tests/bin/
ShantenHelper/ShantenHelper/obj/
Console/obj/
