<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SelectableTileColor_Highlighted" value="LightPink"/>
		<add key="SelectableTileColor_MouseOver" value="DeepPink"/>
		<add key="SelectableTileColor_RiichiDiscard" value="HotPink"/>
		<add key="SelectableTileColor_Recommended" value="HotPink"/>
		<add key="recommendDiscards" value="true"/>
		<add key="tileToolTips" value="true"/>
	</appSettings>
</configuration>