<?xml version="1.0"?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<!--<add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite"                type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>-->
			<!--<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>-->
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.92.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="MahjongDBContext"
			  connectionString="Data Source=|DataDirectory|mahjong.sqlite"
			  providerName="System.Data.SQLite" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
